<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="http://localhost:4200" target="_blank" class="barra">Desafio Pitang</a></div>
  <span class="nav-tool-items">
    <button mat-button routerLink="/login" routerLinkActive="active">Log in</button>
    <button mat-button routerLink="/register">Register</button>
  </span>
</mat-toolbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="center">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
  </div>
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
      <mat-card-content>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="username" type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="password" type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </mat-form-field>
        </div>

      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Log in</button>
    </form>
  </mat-card>
</div>