<!-- Toolbar --><mat-toolbar color="primary" class="app-header">
  <div><a href="http://localhost:4200" target="_blank" class="barra">Desafio Pitang</a></div>
  <span class="nav-tool-items">
    <button mat-button routerLink="/login" routerLinkActive="active">Log in</button>
    <button mat-button routerLink="/register">Register</button>
  </span>
</mat-toolbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box" fxFlex="30">
    <mat-card-header>
      <mat-card-title>Register User</mat-card-title>
    </mat-card-header>
    <div class="center">
      <mat-spinner *ngIf="showSpinner"></mat-spinner>
    </div>
    <mat-card-content>
      <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-card-content class="card-register">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" formControlName="firstname" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
              <div *ngIf="f.firstname.errors.required">Firstname is required</div>
            </div>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" formControlName="lastname" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
              <div *ngIf="f.lastname.errors.required">Lastname is required</div>
            </div>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="myDatepicker" placeholder="birthday" formControlName="birthday"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }" >
            <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
              <div *ngIf="f.birthday.errors.required">Birthday is required</div>
            </div>
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Phone" formControlName="phone" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.required">Phone is required</div>
            </div>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Login" formControlName="login" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.login.errors }">
            <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
              <div *ngIf="f.firstname.login.required">Login is required</div>
            </div>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password" class="form-control" type="password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>

          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>