<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
    <div><a href="http://localhost:4200" target="_blank" class="barra">Desafio Pitang</a></div>
    <span class="nav-tool-items">
        <button mat-button routerLink="/user" routerLinkActive="active">User Info</button>
        <button mat-button routerLink="/car">Cars Info</button>
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </span>
</mat-toolbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" fxFlex="50">
        <div class="center">
            <mat-spinner *ngIf="showSpinner"></mat-spinner>
        </div>
        <mat-card-content class="card-register">
            <mat-card-header>
                <mat-card-title>User Information</mat-card-title>
            </mat-card-header>
            <form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="user.firstName" matInput placeholder="First Name" formControlName="firstname"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                        <div *ngIf="f.firstname.errors.required">Firstname is required</div>
                    </div>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="user.lastName" matInput placeholder="Last Name" formControlName="lastname"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                        <div *ngIf="f.lastname.errors.required">Lastname is required</div>
                    </div>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="user.email" matInput placeholder="Email" formControlName="email"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input minlength="10" maxlength="10" matInput [matDatepicker]="myDatepicker" placeholder="birthday"
                        formControlName="birthday" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }" #myDatepicker
                        value="{{ user.birthday | date: 'MM/dd/yyyy' }}">
                    <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
                        <div *ngIf="f.birthday.errors.required">Birthday is required</div>
                    </div>
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="user.phone" matInput placeholder="Phone" formControlName="phone"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" maxlength="11">
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone is required</div>
                    </div>
                </mat-form-field>
                <button mat-stroked-button color="accent" class="btn-block">Save</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>