<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
    <div><a href="http://localhost:4200" target="_blank" class="barra">Desafio Pitang</a></div>
    <span class="nav-tool-items">
      <button mat-button routerLink="/user">User Info</button>
      <button mat-button routerLink="/car">Cars Info</button>
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </span>
  </mat-toolbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" fxFlex="50">
        <div class="center">
            <mat-spinner *ngIf="showSpinner"></mat-spinner>
        </div>
        <mat-card-header>
            <mat-card-title>New Car</mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-register">
            <form class="example-form" [formGroup]="carForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="user.model" matInput placeholder="Model" formControlName="model"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.model.errors }" maxlength="20">
                    <div *ngIf="submitted && f.model.errors" class="invalid-feedback">
                        <div *ngIf="f.model.errors.required">Model is required</div>
                    </div>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Year" formControlName="year" maxlength="4" type="number"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
                    <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                        <div *ngIf="f.year.errors.required">Year is required</div>
                    </div>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="License Plate (Ex: AAA-1234 or ABC1B34)" formControlName="licensePlate"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.licensePlate.errors }" maxlength="10"> 
                    <div *ngIf="submitted && f.licensePlate.errors" class="invalid-feedback">
                        <div *ngIf="f.licensePlate.errors.required">License Plate is required</div>
                    </div>
                </mat-form-field>

                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Color" formControlName="color"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.color.errors }">
                    <div *ngIf="submitted && f.color.errors" class="invalid-feedback">
                        <div *ngIf="f.color.errors.required" maxlength="20">Color is required</div>
                    </div>
                </mat-form-field>
                <button mat-stroked-button color="accent" class="btn-block">Save</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>