<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="http://localhost:4200" target="_blank" class="barra">Desafio Pitang</a></div>
  <span class="nav-tool-items">
    <button mat-button routerLink="/user">User Info</button>
    <button mat-button routerLink="/car">Cars Info</button>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  </span>
</mat-toolbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box" fxFlex="50">
    <div class="center">
      <mat-spinner *ngIf="showSpinner"></mat-spinner>
    </div>
    <mat-card-header>
      <mat-card-title>Cars Informations</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-register">
        <button mat-raised-button color="primary" style="margin-right: auto;" routerLink="/new-car">Add Car</button>
        <P></P>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="year">
            <th style="width: 150px;" mat-header-cell *matHeaderCellDef> Year </th>
            <td mat-cell *matCellDef="let cars"> {{cars.year}} </td>
          </ng-container>

          <ng-container matColumnDef="licensePlate">
            <th style="width: 150px;" mat-header-cell *matHeaderCellDef> License Plate </th>
            <td mat-cell *matCellDef="let cars"> {{cars.licensePlate}} </td>
          </ng-container>

          <ng-container matColumnDef="model">
            <th style="width: 150px;" mat-header-cell *matHeaderCellDef> Model </th>
            <td mat-cell *matCellDef="let cars"> {{cars.model}} </td>
          </ng-container>

          <ng-container matColumnDef="color">
            <th style="width: 150px;" mat-header-cell *matHeaderCellDef> Color </th>
            <td mat-cell *matCellDef="let cars"> {{cars.color}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let cars">
              <button mat-raised-button color="warn" (click)="deleteCar(cars)">Delete</button>
            </mat-cell>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
  </mat-card>
</div>